<article class="card border">
  <a href="#">
    <img src="{{img_url feature_image}}" alt="">
  </a>
  <div class="card-content">
    <h6>{{title}}</h6>
    <i>{{> "icons/calendar"}}</i>
    <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
     - {{tags limit="1"}}
    <p>
      {{excerpt characters="80"}} ...
    </p>
    <a href="#">Seguir leyendo →</a>
  </div>
</article>