{{!< default}} {{> site-nav}}
  {{#page}}
  <main>
    <section>
      <div class="inner">
        <div class="main-wrapper page-title">
          <h1>Algo más sobre mi</h1>
        </div>
        <div class="wrapper">
          <div>
            {{#if feature_image}}
            <figure class="post-full-image">
              {{!-- This is a responsive image, it loads different sizes depending on device
              https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
              <img srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w, {{img_url
                feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w" sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 1170px,
                            2000px" src="{{img_url feature_image size=" xl"}}" alt="{{title}}" />
            </figure>
            {{/if}}
          </div>
          <div>
            {{content}}
          </div>
        </div>
    </section>
  </main>
  {{/page}}